/* You can add global styles to this file, and also import other style files */

body{
    background-color:#120D31;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

@font-face {
    font-family: 'DOS-VGA';
    src: url('../assets/PerfectDOSVGA437Win.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.isolatedtext {
    white-space: pre;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    color: rgb(182, 250, 255);
    font-weight: 600;
    border: 2px solid #d6d6d6; /* Adiciona uma borda */
    background-color: #100d16e0; /* Adiciona um fundo colorido */
    padding: 20px; /* Adiciona um espaço interno */
    font-family: 'Courier New', Courier, monospace; /* Usa uma fonte monoespaçada */
}

.isolatedtext::-webkit-scrollbar {

    /* border-radius: 3vh; */
    width: 5px;
    /* largura da barra de rolagem */
  }
  
  .isolatedtext::-webkit-scrollbar-track {
    background-clip: content-box;
    /* border-radius: 3vh; */
    background-color: rgba(245, 245, 245, 0.607);
    /* cor do fundo da barra de rolagem */
  }
  
  .isolatedtext::-webkit-scrollbar-thumb {
    height: 10% !important;
    /* border-radius: 3vh; */
    background-color: #1c244e;
    /* cor do indicador da barra de rolagem */
  }
  
  .isolatedtext::-webkit-scrollbar-thumb:hover {
    height: 10% !important;
    margin: 20px;
    /* border-radius: 3vh; */
    background-color: #0b0442;
    /* cor do indicador da barra de rolagem ao passar o mouse */
  }

.keywordlang {
    color: blue; /* Cor para palavras-chave */
}

.stringlang {
    color: green; /* Cor para strings */
}

.numberlang {
    color: red; /* Cor para números */
}
