/* You can add global styles to this file, and also import other style files */

body{
    background-color:#120D31;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

@font-face {
    font-family: 'DOS-VGA';
    src: url('../assets/PerfectDOSVGA437Win.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.isolatedtext {
    white-space: pre;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
    color: rgb(140, 219, 255);
    font-weight: 600;
    border: 2px solid #d6d6d6; /* Adiciona uma borda */
    background-color: #100d16e0; /* Adiciona um fundo colorido */
    padding: 20px; /* Adiciona um espaço interno */
    font-family: 'Courier New', Courier, monospace; /* Usa uma fonte monoespaçada */
}

.keywordlang {
    color: blue; /* Cor para palavras-chave */
}

.stringlang {
    color: green; /* Cor para strings */
}

.numberlang {
    color: red; /* Cor para números */
}
